body {
	font-family: sans-serif;
	font-size: 16px;
	margin: 15px;
}

ul {
	list-style-type: decimal;
	padding: 0 15px 0;
	margin: 0;
}

ul li {
	margin-bottom: 10px;
	line-height: 22px;
}

ul li:last-child {
	margin-bottom: 0;
}

.ejercicios {
	background: #f2f2f2;
	padding: 15px;
	margin-bottom: 15px;
}

.roman {
	list-style-type: upper-roman;
	margin-top: 5px;
	margin-bottom: 5px;
}

.roman li {
	margin-bottom: 0;
}

input {
	border: solid 1px #222;
	outline: none;
	box-shadow: none;
	background: #fff !important;
	padding: 5px 8px;
	font-size: 14px;
	border-radius: 6px;
	transition: all 0.3s ease;
}

input:hover, input:focus, input:active {
	border: solid 1px #888 !important;
	background: #fff;
	border: none;
	box-shadow: none;
	outline: none;
}

button {
	background: #1f4ac5;
	border: none;
	padding: 6px 9px;
	font-size: 14px;
	border-radius: 6px;
	color: #fff;
	transition: all 0.3s ease;
	text-transform: uppercase;
	font-weight: bold;
}

button:hover, button:focus, input:active {
	border: none;
	box-shadow: none;
	outline: none;
	background: #1c40a7;
	cursor: pointer;
}

hr {
	margin: 20px 0;
}

h2 {
	font-size: 22px;
}